<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Dynamic Post</title>
</head>
<body>
<%- include("partials/header") %>

    <div class="container mt-5">
        <% if (locals.article) { %>
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-center text-primary"><%= locals.article.header %></h2>
                        <p class="card-text text-center"><%= locals.article.text %></p>
                    </div>
                </div>
        <% } else { %>
            <p class="text-center">No articles submitted yet.</p>
        <% } %>
    </div>
</body>

<%- include("partials/footer") %>

</html>